<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>360 Bright Media</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="assets/styles/css/styles.css"/>
	<link rel="stylesheet" type="text/css" href="assets/styles/css/animate.css"/>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="assets/styles/css/bootstrap-touch-slider.css" rel="stylesheet" media="all">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
	<script src="assets/scripts/js/btslider.js"></script>
	<link rel="stylesheet"  href="assets/styles/css/lightslider.css"/>
 
	<style type="text/css">
		*{
			font-family: 'Open Sans', sans-serif;
		}

		/*ANIMATION*/
	  .animated {
		  -webkit-animation-duration: 1.5s;
		  animation-duration: 1.5s;
		  -webkit-animation-fill-mode: both;
		  animation-fill-mode: both;
		}

	  @-webkit-keyframes bounceIn {
		  from,
		  20%,
		  40%,
		  60%,
		  80%,
		  to {
		    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		  }

		  0% {
		    opacity: 0;
		    -webkit-transform: scale3d(0.3, 0.3, 0.3);
		    transform: scale3d(0.3, 0.3, 0.3);
		  }

		  20% {
		    -webkit-transform: scale3d(1.1, 1.1, 1.1);
		    transform: scale3d(1.1, 1.1, 1.1);
		  }

		  40% {
		    -webkit-transform: scale3d(0.9, 0.9, 0.9);
		    transform: scale3d(0.9, 0.9, 0.9);
		  }

		  60% {
		    opacity: 1;
		    -webkit-transform: scale3d(1.03, 1.03, 1.03);
		    transform: scale3d(1.03, 1.03, 1.03);
		  }

		  80% {
		    -webkit-transform: scale3d(0.97, 0.97, 0.97);
		    transform: scale3d(0.97, 0.97, 0.97);
		  }

		  to {
		    opacity: 1;
		    -webkit-transform: scale3d(1, 1, 1);
		    transform: scale3d(1, 1, 1);
		  }
		}

		@keyframes bounceIn {
		  from,
		  20%,
		  40%,
		  60%,
		  80%,
		  to {
		    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		  }

		  0% {
		    opacity: 0;
		    -webkit-transform: scale3d(0.3, 0.3, 0.3);
		    transform: scale3d(0.3, 0.3, 0.3);
		  }

		  20% {
		    -webkit-transform: scale3d(1.1, 1.1, 1.1);
		    transform: scale3d(1.1, 1.1, 1.1);
		  }

		  40% {
		    -webkit-transform: scale3d(0.9, 0.9, 0.9);
		    transform: scale3d(0.9, 0.9, 0.9);
		  }

		  60% {
		    opacity: 1;
		    -webkit-transform: scale3d(1.03, 1.03, 1.03);
		    transform: scale3d(1.03, 1.03, 1.03);
		  }

		  80% {
		    -webkit-transform: scale3d(0.97, 0.97, 0.97);
		    transform: scale3d(0.97, 0.97, 0.97);
		  }

		  to {
		    opacity: 1;
		    -webkit-transform: scale3d(1, 1, 1);
		    transform: scale3d(1, 1, 1);
		  }
		}

		.bounceIn {
		  -webkit-animation-duration: 1.5s;
		  animation-duration: 1.5s;
		  -webkit-animation-name: bounceIn;
		  animation-name: bounceIn;
		}

		.overlay-for-mobile-scrolling {
			height: 100vh;
			position: absolute;
			top: 0;
			width: 100%;
		}

		.main-body {
			margin-top: 100vh;
		}

		.body-title {
			color: rgb(255, 153, 82);
			font-size: 58px;
			line-height: 64px;
			font-weight: 700;
			padding-top: 100px;
		}

		.title-description {
			font-size: 18px;
			line-height: 26px;
			padding: 16px 150px 48px 150px;
			color: rgb(113, 113, 113);
		}

		.feature-section-text {
			position: relative;
			height: 550px;
		}

		.feature-section-text-container {
			top: 50%;
			transform: translateY(-50%);
			position: absolute;
			left: 60px;
		}

		.feature-section-text-title {
			font-size: 28px;
			line-height: 36px;
			color: rgb(0, 213, 115);
			font-weight: 700;
			text-align: left;
		}

		.feature-section-text-description {
			font-weight: 300;
			color: rgb(113, 113, 113);
			margin-top: 0px;
			margin-bottom: 24px;
			font-size: 16px;
			line-height: 24px;
			text-align: left;
		}

		.feature-section-image-container {
			position: relative;
			height: 550px;
		}

		.feature-section-image {
			top: 50%;
			transform: translateY(-50%);
			position: absolute;
		}

		.form-section {
			background-image: url(assets/images/360_Bright_Media_Contact.jpg);
			height: 900px;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}

		.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: white !important;
		}
		.form-control::-moz-placeholder { /* Firefox 19+ */
		  color: white !important;
		}
		.form-control:-ms-input-placeholder { /* IE 10+ */
		  color: white !important;
		}
		.form-control:-moz-placeholder { /* Firefox 18- */
		  color: white !important;
		}

		.form-title {
			color: rgb(248, 248, 248);
			font-size: 58px;
    	line-height: 64px;
    	font-weight: 700;
		}

		.form-description {
			color: rgb(248, 248, 248);
			font-size: 22px;
    	line-height: 30px;
    	max-width: 820px;
    	text-align: center;
    	left: 50%;
    	transform: translateX(-50%);
    	position: absolute;
		}

		@media only screen and (max-width: 768px) {
	    .body-title {
  	    font-size: 28px;
    		line-height: 36px;
	    }

	    .title-description {
	    	font-size: 16px;
    		line-height: 24px;
    		padding: 16px 5px 48px 5px;
	    }

	    .feature-section {
	    	padding-left: 0px;
	    	padding-right: 0px;
	    }

	    .feature-section-text {
				height: auto;
			}

			.feature-section-text-container {
				top: 0;
				transform: translateY(0%);
				position: relative;
				left: 0px;
			}

			.feature-section-text-title {
		    font-size: 24px;
    		line-height: 32px;
    		text-align: center;
			}

			.feature-section-text-description {
	    	font-size: 16px;
    		line-height: 24px;
    		text-align: center;
			}

			.feature-section-image-container {
				height: auto;
			}

			.feature-section-image {
				top: 0;
				transform: translateY(0%);
				position: relative;
			}

			.form-title {
				font-size: 28px;
    		line-height: 36px;
			}

			.form-description {
				font-size: 16px;
    		line-height: 24px;
    		left: 0%;
    		transform: translateX(0%);
    		position: relative;
			}
		}

		.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    background-color: white;
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 18%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(113, 113, 113);
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: rgb(113, 113, 113);
}

.overlay .closebtn {
    position: absolute;
    right: 25px;
    top: -10px;
    font-size: 45px;
}

.navbar-toggle .icon-bar{
  background-color: rgb(113, 113, 113);
}

.logo-name {
	color: white;
}

#nav123 {
	background: transparent;
}

.change-navbar-background-color {
	background: white !important;
	border-bottom: 1px solid rgb(230, 230, 230);
}

.change-navbar-font-color {
	color: rgb(113, 113, 113) !important;
}

.effect-underline {
	color: white;
}

.fa-caret-down {
	visibility: hidden;
}

.clients-img-container {
	padding: 20px;
}

.clients-img {
	width: 150px;
	height: 150px;
	position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.social-media {
	position: absolute;
  top: 15px;
  right: 50px;
  bottom: 10px;
}

@media screen and (max-width: 768px) {
  .fa-caret-down {
  	visibility: visible;
  }

  .social-media {
		position: relative;
		top: 0px;
		right: 0px;
		margin-bottom: 10px;
	}
}

	</style>
</head>
<body>

<!-- 	<div class="example3" style="box-shadow: 5px 8.66px 30px 0 rgba(31,35,37,.078);">
	  <nav class="navbar navbar-static-top navbar-fixed-top" id="nav123">
	    <div class="container">
	      <div class="navbar-header">
	        <a class="navbar-brand" style="position: relative;left: 50%;transform: translateX(-50%);"  onclick="openNav()"><span class="logo-name">360 Bright Media <i class="fas fa-caret-down"></i></span>
	        </a>
	      </div>
	      <div id="navbar3" class="navbar-collapse collapse">
	        <ul class="nav navbar-nav navbar-right">
	          <li class="active "><a href="#" class="effect-underline">Home</a></li>
	          <li><a href="" class="effect-underline">Services</a></li>
	          <li><a href="" class="effect-underline">Portfolio</a></li>
	          <li><a href="" class="effect-underline">About</a></li>
	          <li><a href="" class="effect-underline">Contact Us</a></li>
	        </ul>
	      </div>
	      </div>
	  </nav>
	</div> -->

	<div id="myNav" class="overlay">
		<div style="text-align: center;"><img src="assets/images/360brightmedia-logo.png" style="width: 150px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;;"></div>
	  <div class="overlay-content">
	    <!-- <a href="#">Home</a> -->
	    <!-- <a href="#">Services</a> -->
	    <!-- <a href="#">Portfolio</a> -->
	    <!-- <a href="#">About</a> -->
	    <!-- <a href="#">Contact Us</a> -->
	  </div>
	  <i class="fas fa-times"  onclick="closeNav()" style="position: absolute;
    left: 0px;
    bottom: 48px;right: 0;font-size: 20px"></i>
	</div>

	<div id="container" class="wrapper">
		<ul id="scene" class="scene unselectable"
			data-friction-x="0.1"
			data-friction-y="0.1"
			data-scalar-x="25"
			data-scalar-y="15">
			<li class="layer" data-depth="0.00"></li>
			<li class="layer" data-depth="0.10"><div class="background"></div></li>
			<li class="layer" data-depth="0.10"><div class="light orange b phase-4"></div></li>
			<li class="layer" data-depth="0.10"><div class="light purple c phase-5"></div></li>
			<li class="layer" data-depth="0.10"><div class="light orange d phase-3"></div></li>
			<li class="layer" data-depth="0.15">
				<ul class="rope depth-10">
					<li><img src="assets/images/rope.png" alt="Rope"></li>
					<li class="hanger position-2">
						<div class="board cloud-2 swing-1"></div>
					</li>
					<li class="hanger position-4">
						<div class="board cloud-1 swing-3"></div>
					</li>
					<li class="hanger position-8">
						<div class="board birds swing-5"></div>
					</li>
				</ul>
			</li>
			<li class="layer" data-depth="0.20"><h1 class="title" style="color: white"><img src="assets/images/360brightmedia-logo.png" style="width: 200px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;"></h1></li>
			<li class="layer" data-depth="0.30">
				<ul class="rope depth-30">
					<li><img src="assets/images/rope.png" alt="Rope"></li>
					<li class="hanger position-1">
						<div class="board cloud-1 swing-3"></div>
					</li>
					<li class="hanger position-5">
						<div class="board cloud-4 swing-1"></div>
					</li>
				</ul>
			</li>
			<li class="layer" data-depth="0.30"><div class="wave paint depth-30"></div></li>
			<li class="layer" data-depth="0.40"><div class="wave plain depth-40"></div></li>
			<li class="layer" data-depth="0.50"><div class="wave paint depth-50"></div></li>
			<li class="layer" data-depth="0.60"><div class="lighthouse depth-60"></div></li>
			<li class="layer" data-depth="0.60">
				<ul class="rope depth-60">
					<li><img src="assets/images/rope.png" alt="Rope"></li>
					<li class="hanger position-3">
						<div class="board birds swing-5"></div>
					</li>
					<li class="hanger position-6">
						<div class="board cloud-2 swing-2"></div>
					</li>
					<li class="hanger position-8">
						<div class="board cloud-3 swing-4"></div>
					</li>
				</ul>
			</li>
			<li class="layer" data-depth="0.60"><div class="wave plain depth-60"></div></li>
			<li class="layer" data-depth="0.80"><div class="wave plain depth-80"></div></li>
			<li class="layer" data-depth="1.00"><div class="wave paint depth-100"></div></li>
		</ul>
		<!-- <section id="about" class="wrapper about hide accelerate">
			<div class="cell accelerate">
				<div class="cables center accelerate">
					<div class="panel accelerate">
						<header>
							<h1><em>360</em>Bright Media</h1>
						</header>
						<p>WOW, that's deep man! <strong>parallax.js</strong> reacts to the orientation of your smart device, offsetting layers depending on their depth within a scene... Oh, you don't have a smart device? No worries, if no gyroscope or motion detection hardware is available, <strong>parallax.js</strong> uses the position of your cursor instead. Radical.</p>
						<p>This project is a collaboration between<br><a href="http://matthew.wagerfield.com/" target="_blank">Matthew Wagerfield</a> &amp; <a href="http://cargocollective.com/whydontwetry" target="_blank">Claudio Guglieri</a>.</p>
						<div class="social">
							<a href="https://twitter.com/wagerfield" class="twitter-follow-button" data-show-count="false">Follow <span class="handle">@wagerfield</span></a>
							<a href="https://twitter.com/claudioguglieri" class="twitter-follow-button" data-show-count="false">Follow <span class="handle">@claudioguglieri</span></a>
						</div>
						<ul class="links">
							<li><a class="download" href="https://github.com/wagerfield/parallax/archive/master.zip">Download</a></li>
							<li><a class="github" target="_blank" href="https://github.com/wagerfield/parallax">GitHub</a></li>
						</ul>
					</div>
				</div>
			</div>
		</section> -->
		<!-- <button id="toggle" class="toggle i">
			<div class="cross">
				<div class="x"></div>
				<div class="y"></div>
			</div>
		</button> -->
		<!-- <div id="prompt" class="wrapper prompt hide accelerate">
			<div class="cell accelerate">
				<div class="panel center unselectable accelerate">
					<button id="dismiss" class="dismiss">
						<div class="cross">
							<div class="x"></div>
							<div class="y"></div>
						</div>
					</button>
					<div class="tilt-scene">
						<img class="tilt" src="assets/images/tilt.png">
					</div>
					<h2>Tilting is fun!</h2>
					<p>For the best experience, check out this site on a mobile or tablet equipped with a gyroscope</p>
					<p>(iPads are the coolest)</p>
				</div>
			</div>
		</div> -->
		<!-- <footer>
			<div class="fb-like" data-href="http://wagerfield.github.io/parallax/" data-width="400" data-layout="button_count" data-show-faces="false" data-send="false"></div>
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://wagerfield.github.io/parallax/" data-text="Tilting is fun! Check out #parallax.js by @wagerfield & @claudioguglieri »">Tweet</a>
		</footer> -->
	</div>

	<div class="overlay-for-mobile-scrolling">
		<i class="fas fa-chevron-circle-down" style="color: white;
    position: absolute;
    bottom: 80px;
    font-size: 35px;cursor: pointer;" id="arrow-down"></i>
	</div>



	<div class="container main-body">
		<div class="row">
			<div class="col-lg-12 bg-white slideanim">
					<h1 class="body-title">"Where Technology Moves People"</h1>
			    <div class="title-description">
			    	360 Bright media has been giving the best Digital Experience to the consumers using advanced advertising technologies. We bring your brand alive with the help of user interface designs and innovative interactive technologies
			    </div>
			</div>

			<div class="col-lg-12 feature-section clearfix">
				<div class="col-xs-12 col-sm-12 col-lg-6 col-lg-push-6 feature-section-image-container animated">
					<img class="feature-section-image" src="assets/images/ar-1.png" alt="">
				</div>
				<div class="col-xs-12 col-sm-12 col-lg-6 col-lg-pull-6 feature-section-text slideanim">
					<div class="feature-section-text-container">
						<h3 class="feature-section-text-title" style="color: rgb(0, 213, 115);">Augmented reality</h3>
						<p class="feature-section-text-description">Augmented reality is expanding in five core verticals which are Retail, Entertainment, Education Services, Publishing and Industrial. Along with marketing and gaming, AR technology has been in use for almost everywhere including gaming, entertainment, government and even military. It has transformed the way people interact with the digital world.</p>
					</div>
				</div>
			</div>

			<div class="col-lg-12 feature-section clearfix">
				<div class="col-lg-6 feature-section-image-container animated">
					<img class="feature-section-image" src="assets/images/vr-2.png" alt="">
				</div>
				<div class="col-lg-6 feature-section-text slideanim">
					<div class="feature-section-text-container">
						<h3 class="feature-section-text-title" style="color: rgb(15, 145, 228);">Virtual Reality</h3>
						<p class="feature-section-text-description">We at 360 Bright Media have recognized that one of the best ways clients can make use Virtual Reality Technology is by applying it for their architecture, products, industrial, corporate, events BTL, real estate projects etc. Here, potential consumers can live and feel your projects from inside as if it already exists.</p>
					</div>
				</div>
			</div>

			<div class="col-lg-12 feature-section clearfix">
				<div class="col-xs-12 col-sm-12 col-lg-6 col-lg-push-6 feature-section-image-container animated">
					<img class="feature-section-image" src="assets/images/vr-1.png" alt="">
				</div>
				<div class="col-xs-12 col-sm-12 col-lg-6 col-lg-pull-6 feature-section-text slideanim">
					<div class="feature-section-text-container">
						<h3 class="feature-section-text-title" style="color: rgb(230, 113, 97);">Mobile and Web AR Application</h3>
						<p class="feature-section-text-description">With mobile getting smarter, the scope of it has multiplied. AR mobile apps are available on both Android and IOS devices. With this technology we make, 3D objects with live video on tablets and mobile phones.</p>
					</div>
				</div>
			</div>

			<div class="col-lg-12 feature-section clearfix">
				<div class="col-lg-6 feature-section-image-container animated">
					<img class="feature-section-image" src="assets/images/ar-2.png" alt="">
				</div>
				<div class="col-lg-6 feature-section-text slideanim">
					<div class="feature-section-text-container">
						<h3 class="feature-section-text-title" style="color: rgb(0, 213, 115);">Gaming</h3>
						<p class="feature-section-text-description">The world of gaming has taken a completely new turn. The recent trend of augmented reality gaming has changed gaming used to be. This technology is one of the most prominent feature for game developers and designers today. These AR games can be played on smart phones and tablets by individuals.</p>
					</div>
				</div>
			</div>

			<div class="col-lg-12 feature-section clearfix">
				<div class="col-xs-12 col-sm-12 col-lg-6 col-lg-push-6 feature-section-image-container animated">
					<img class="feature-section-image" src="assets/images/video-content.png" alt="">
				</div>
				<div class="col-xs-12 col-sm-12 col-lg-6 col-lg-pull-6 feature-section-text slideanim">
					<div class="feature-section-text-container">
						<h3 class="feature-section-text-title" style="color: rgb(15, 145, 228);">On Ground Activation</h3>
						<p class="feature-section-text-description">People queuing up at malls, museums, public place, airports to be part of the experience of interactive events is a regular sight at promotional campaigns powered by 360 Bright media</p>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div id="abcd" class="carousel bs-slider slide  control-round indicators-line" data-ride="carousel"  data-interval="3000" >
	  <ol class="carousel-indicators">
	      <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
	      <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
	      <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
	      <li data-target="#bootstrap-touch-slider" data-slide-to="3"></li>
	  </ol>
	  <div class="carousel-inner" role="listbox">
	      <div class="item active">
	          <img src="assets/images/360Brightmedia_VR_1.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
	      </div>
	      <div class="item">
	          <img src="assets/images/360Brightmedia_VR_2.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
	      </div>
	       <div class="item">
	          <img src="assets/images/360Brightmedia_Gaming_.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
	      </div>
	      <div class="item">
	          <img src="assets/images/360Brightmedia_VR_4.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
	      </div>
	  </div>
	  <a class="left carousel-control" href="#abcd" role="button" data-slide="prev">
	      <span class="fa fa-angle-left" aria-hidden="true"></span>
	      <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#abcd" role="button" data-slide="next">
	      <span class="fa fa-angle-right" aria-hidden="true"></span>
	      <span class="sr-only">Next</span>
	  </a>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12" style="padding-bottom: 50px;">
				<h1 class="body-title" style="padding-bottom: 50px;">Our Clients</h1>
				<div class="col-sm-4 clients-img-container text-center">
					<img class="clients-img text-center" src="assets/images/logos/bisleri.png" >
				</div>
				<div class="col-sm-4 clients-img-container">
					<img class="clients-img" src="assets/images/logos/cineyug.png">
				</div>
				<div class="col-sm-4 clients-img-container">
					<img class="clients-img" src="assets/images/logos/hilton.png">
				</div>
				<div class="col-sm-4 clients-img-container">
					<img class="clients-img" src="assets/images/logos/inorbit.png">
				</div>
				<div class="col-sm-4 clients-img-container">
					<img class="clients-img" src="assets/images/logos/aditya-bilra.png">
				</div>
				<div class="col-sm-4 clients-img-container">
					<img class="clients-img" src="assets/images/logos/nsci dome.png">
				</div>
				<!-- <div class="col-sm-4 clients-img-container">
					<img class="clients-img" src="assets/images/logos/oppo.png">
				</div> -->
				<div class="col-sm-4 clients-img-container">
					<img class="clients-img" src="assets/images/logos/rishichem.png">
				</div>
				<div class="col-sm-4 clients-img-container">
					<img class="clients-img" src="assets/images/logos/shiva.png">
				</div>
				<div class="col-sm-4 clients-img-container">
					<img class="clients-img" src="assets/images/logos/sony.png">
				</div>
				<div class="col-sm-4 clients-img-container">
					<img class="clients-img" src="assets/images/logos/star plus.png">
				</div>
				<div class="col-sm-4 clients-img-container">
					<img class="clients-img" src="assets/images/logos/toyo ink.png">
				</div>
				<div class="col-sm-4 clients-img-container">
					<img class="clients-img" src="assets/images/logos/umumba.png">
				</div>
				<div class="col-sm-4 clients-img-container">
					<img class="clients-img" src="assets/images/logos/zeetv.png">
				</div>
				<div class="col-sm-4 clients-img-container">
					<img class="clients-img" src="assets/images/logos/Henkel_360brightmedia-logo.png">
				</div>
				<div class="col-sm-4 clients-img-container">
					<img class="clients-img" src="assets/images/logos/koel_360brightmedia-logo.png">
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12" style="padding-top: 50px;padding-bottom: 100px;">
		  	<h1 class="body-title" style="padding-bottom: 50px;">Reviews</h1>
		    <div class="item" style="padding-left: 10%;padding-right: 10%">
		      <ul id="content-slider" class="content-slider" >
		        <li class="text-center">
		          <img src="http://via.placeholder.com/150x150" class="img-responsive" style="width: 100px;height: 100px;border-radius: 50%;left: 50%;transform: translateX(-50%);position: relative;">
		          <div>dummy text</div>
		          <div>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</div>
		        </li>
		        <li class="text-center">
		          <img src="http://via.placeholder.com/150x150" class="img-responsive" style="width: 100px;height: 100px;border-radius: 50%;left: 50%;transform: translateX(-50%);position: relative;">
		          <div>dummy text</div>
		          <div>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</div>
		        </li>
		        <li class="text-center">
		          <img src="http://via.placeholder.com/150x150" class="img-responsive" style="width: 100px;height: 100px;border-radius: 50%;left: 50%;transform: translateX(-50%);position: relative;">
		          <div>dummy text</div>
		          <div>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</div>
		        </li>
		        <li class="text-center">
		          <img src="http://via.placeholder.com/150x150" class="img-responsive" style="width: 100px;height: 100px;border-radius: 50%;left: 50%;transform: translateX(-50%);position: relative;">
		          <div>dummy text</div>
		          <div>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</div>
		        </li>
		        <li class="text-center">
		          <img src="http://via.placeholder.com/150x150" class="img-responsive" style="width: 100px;height: 100px;border-radius: 50%;left: 50%;transform: translateX(-50%);position: relative;">
		          <div>dummy text</div>
		          <div>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</div>
		        </li>
		        <li class="text-center">
		          <img src="http://via.placeholder.com/150x150" class="img-responsive" style="width: 100px;height: 100px;border-radius: 50%;left: 50%;transform: translateX(-50%);position: relative;">
		          <div>dummy text</div>
		          <div>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</div>
		        </li>
		      </ul>
		    </div>
			</div>
		</div>
	</div>

	<div class="container-fluid form-section">
		<div class="row">
			<div class="col-lg-12 text-center" style="padding-top: 96px;
    padding-bottom: 96px;">
				<h1 class="form-title">Ask for Best services</h1>
    		<p class="form-description">A '360 Bright Media: Office- 507/5th floor Corpoate Annex, 

Sonawala Road, Near Udyog bhavan, Goregaon East  Mumbai 400063.</p>
			</div>

			<div class="col-lg-12">
				<div class="col-lg-4"></div>
				<div class="col-lg-4">
					<div class="col-lg-12">
						<div class="form-group"> 
					    <input type="text" style="background:transparent;color: white" class="form-control" id="" name="yrname" placeholder="Company Name" required>
					  </div>
					</div>
					<div class="col-lg-6">
						<div class="form-group"> 
					    <input type="text" style="background:transparent;color: white" class="form-control" id="" name="yrname" placeholder="First Name" required>
					  </div>
					</div>
					<div class="col-lg-6">
						<div class="form-group"> 
					    <input type="text" style="background:transparent;color: white" class="form-control" id="" name="yrname" placeholder="Last Name" required>
					  </div>
					</div>
					<div class="col-lg-6">
						<div class="form-group"> 
					    <input type="text" style="background:transparent;color: white" class="form-control" id="" name="yrname" placeholder="Email Address" required>
					  </div>
					</div>
					<div class="col-lg-6">
						<div class="form-group"> 
					    <input type="text" style="background:transparent;color: white" class="form-control" id="" name="yrname" placeholder="Phone Number" required>
					  </div>
					</div>
					<div class="col-lg-12">
						<div class="form-group"> 
					    <input type="text" style="background:transparent;color: white" class="form-control" id="" name="yrname" placeholder="Project Details" required>
					  </div>
					</div>
				</div>
				<div class="col-lg-4"></div>
			</div>

			<div class="col-lg-12">
				<button class="btn btn-lg" id="gitou" style="background:  rgb(241, 39, 66);border-radius: 30px;margin-top: 30px;color: white">Get in Touch</button>
			</div>
		</div>
	</div>

	<div class="container-fluid" style="border-top: 1px solid #e8e8e8;position: relative;">
	  <div class="col-lg-12 text-center" style="padding: 20px;">
	    Made with <i class="fas fa-heart" style="color: rgb(241, 39, 66)"></i> 360 Bright Media
	  </div>
	  <div class="social-media">
	  	<a href="https://www.youtube.com/channel/UCn_xxeUVJaig3c__00QDfkQ"><i class="fab fa-youtube" style="font-size: 25px;margin-right: 10px;color: black"></i></a>
	  	<a href="https://www.facebook.com/360BrightMedia/"><i class="fab fa-facebook" style="font-size: 25px;margin-right: 10px;color: black"></i></a>
	  	<a href="https://www.instagram.com/360brightmedia/?hl=en"><i class="fab fa-instagram" style="font-size: 25px;margin-right: 10px;color: black"></i></a>
	  </div>
	</div>

	<!-- Scripts -->
	<script src="assets/scripts/js/libraries.min.js"></script>
	<script src="deploy/jquery.parallax.js"></script>
	<script src="assets/scripts/js/bootstrap-touch-slider.js"></script>
  <script src="assets/scripts/js/lightslider.js"></script> 
  <script src="assets/scripts/js/lslider.js"></script>

	<script>
    $(window).scroll(function(){
		  if($(window).scrollTop() > 100){
	      $("#nav123").addClass("change-navbar-background-color");
	      $(".logo-name,.effect-underline").addClass("change-navbar-font-color");
		  }
		  else{
		  	$("#nav123").removeClass("change-navbar-background-color");
		  	$(".logo-name,.effect-underline").removeClass("change-navbar-font-color");
		  }

		  if($(window).scrollTop() > 100){
		      $("#comp-name").fadeOut("500");
		  }
		  else{
		    $("#comp-name").fadeIn("500");
		  }
		});

		$("#arrow-down").click(function() {
	    $('html,body').animate({
	        scrollTop: $(".main-body").offset().top},
	        'slow');
		});

	// jQuery Selections
	var $html = $('html'),
			$container = $('#container'),
			$prompt = $('#prompt'),
			$toggle = $('#toggle'),
			$about = $('#about'),
			$scene = $('#scene');

	// Hide browser menu.
	(function() {
		setTimeout(function(){window.scrollTo(0,0);},0);
	})();

	// Setup FastClick.
	// FastClick.attach(document.body);

	// Add touch functionality.
	if (Hammer.HAS_TOUCHEVENTS) {
		$container.hammer({drag_lock_to_axis: true});
		_.tap($html, 'a,button,[data-tap]');
	}

	// Add touch or mouse class to html element.
	$html.addClass(Hammer.HAS_TOUCHEVENTS ? 'touch' : 'mouse');

	// Resize handler.
	(resize = function() {
		$scene[0].style.width = '100%';
		$scene[0].style.height = window.innerHeight + 'px';
		if (!$prompt.hasClass('hide')) {
			if (window.innerWidth < 600) {
				$toggle.addClass('hide');
			} else {
				$toggle.removeClass('hide');
			}
		}
	})();

	// Attach window listeners.
	window.onresize = _.debounce(resize, 200);
	window.onscroll = _.debounce(resize, 200);

	function showDetails() {
		$about.removeClass('hide');
		$toggle.removeClass('i');
	}

	function hideDetails() {
		$about.addClass('hide');
		$toggle.addClass('i');
	}

	// Listen for toggle click event.
	$toggle.on('click', function(event) {
		$toggle.hasClass('i') ? showDetails() : hideDetails();
	});

	// Pretty simple huh?
	$scene.parallax();

	// Check for orientation support.
	setTimeout(function() {
		if ($scene.data('mode') === 'cursor') {
			$prompt.removeClass('hide');
			if (window.innerWidth < 600) $toggle.addClass('hide');
			$prompt.on('click', function(event) {
				$prompt.addClass('hide');
				if (window.innerWidth < 600) {
					setTimeout(function() {
						$toggle.removeClass('hide');
					},1200);
				}
			});
		}
	},1000);

	  $(window).scroll(function() {
	    $(".animated").each(function(){
	      var pos = $(this).offset().top;

	      var winTop = $(window).scrollTop();
	        if (pos < winTop + 600) {
						$(this).addClass("bounceIn");
	        }
	    });
	  });

	  function openNav() {
	    document.getElementById("myNav").style.height = "100%";
		}

		function closeNav() {
    	document.getElementById("myNav").style.height = "0%";
		}
	</script>

</body>
</html>
